html, body {
    margin : 0;
    height :100%;
    background-color: darkgray;
}

button {
    display: block;
    width: 100%;
    height : 10%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 3rem;
}

#pixi-container {
    width: 100%;
    height: 90%;
    overflow-y: hidden;
}